#SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]", ATTRS{idProduct}=="6015", ATTRS{idVendor}=="0403", ATTRS{serial}=="DM02ILPT", SYMLINK+="devRADALT"
#SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]", ATTRS{idProduct}=="6015", ATTRS{idVendor}=="0403", ATTRS{serial}=="DM02ILPT", RUN+="/bin/sh -c 'echo -n $kernel > /sys/bus/usb/drivers/usb/unbind; sleep 1; echo -n $kernel > /sys/bus/usb/drivers/usb/bind'", SYMLINK+="devRADALT"
SUBSYSTEM=="tty", KERNEL=="ttyUSB[0-9]", ATTRS{idProduct}=="6015", ATTRS{idVendor}=="0403", ATTRS{serial}=="DM02ILPT", SYMLINK+="devRADALT", TAG+="systemd"
